.Navigationitem{
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center;
}

.Navigationitem a{
  color: white;
  text-decoration: none;
  height: 100%;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
}

.Navigationitem a:hover,
.Navigationitem a:active,
.Navigationitem a.active{
  background-color: #8F5C2C;
  color: white;
  border-bottom: 4px solid #40A4C8
}
